#root{
    --d-theme:1;

    background-color: #F2F2F7;
    
    --w-font1:#000;
    --w-font2:#fff;
    --w-bg1: #fff;
    --w-bg2: #000;

    --green1:#31F78C;
    --red1:#fe3e3e;
    --red2:#ff6b6b;
    --d-font1:#fff;
    --d-bg1: #000;
}