.navbar {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    margin: 0px 10px 0 10px;
  }
  .navbar {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
  }
  .font{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

/* Change Font Color */
.font .nav-link {
  color: Black !important;
}

/* Change Background Color */
.navbar {
  background-color: white !important;
}

/* Set Active Colors */
.nav-link.active {
  
  font-weight: bold !important;
}

/* Change Size */
.font .nav-link {
  font-size: 16px !important;
}

/* Additional Styles */

  

.holder{
  align-items: center ;
}

.font .nav-link {
  border-radius: 999px !important;
  margin:5px 2px;
  padding: 2px  !important;
}

.font .nav-link:hover {
  background-color: #31F78C !important;
  text-decoration: none !important;
}
.active {
  box-shadow: #54ee9c 0px 0px 20px !important;
  background-color: #31F78C !important;
  inline-size: none;
}

