.navbar {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    margin: 0px 10px 0 10px;
  }

  .font{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    color: #333;
  }

/* Change Font Color */
.font .nav-link {
  color: Black !important;
}

/* Change Background Color */
.navbar {
  background-color: white !important;
}

/* Set Active Colors */
.nav-link.active {
  color: #31F78C !important;
  font-weight: bold !important;
}

/* Change Size */
.font .nav-link {
  font-size: 16px !important;
}

/* Additional Styles */
.navbar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) !important;
}

.font .nav-link {
  padding: 10px 15px !important;
  transition: color 0.3s ease-in-out !important;
}

.font .nav-link:hover {
  color: #31F78C !important;
  text-decoration: none !important;
}


